name: "CI Build"
on: [ pull_request, push ]

jobs:
  build:
    name: "Build"
    runs-on: "ubuntu-latest"
    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: 17
          distribution: 'adopt'

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Build with Gradle
        run: ./gradlew build

      - name: Capture build artifacts
        uses: actions/upload-artifact@v3
        with:
          name: MinestomLauncher-CI-${{ github.job_workflow_sha }}
          path: build/libs/
